.button {
    width: 40px; 
    height: 40px;
    margin: 2px;
    font-weight: bold;
    background-color:aliceblue;
    border-radius: 5px;
    border: 1px solid navy;
    transition: all 0.2s ease-in;


}
.equal-button{
    background-color:darkseagreen;

}


.button:hover{
    background-color:navy ;
    color: aliceblue;
    scale: 1.05;
}

#text{
    width: 160px;
    padding: 10px;
    border: 1.5px solid black;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    color: navy;
}
